@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');

/* CSS Variables */
:root {
  --primary-color: #ff69a5; /* Hot Pink */
  --secondary-color: #d6e0f8; /* Gold */
  --background-color: #FFEBCD; /* Blanched Almond */
  --text-color: #8B4513; /* Saddle Brown */
  --font-family: 'Playpen Sans', sans-serif;
  --comic-width: 500px; /* Set your desired width */
  --comic-height: 500px; /* Set your desired height */
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  border-bottom: 2px solid #ddd;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, .1);
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Adjust based on navbar height */
}

.card {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.card-title,
.card-text {
  margin: 20px;
}

/* Comic Image */
.comic-img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  object-fit: contain; /* This will maintain the aspect ratio */
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer p {
  margin: 0;
}
